::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  background: #f3f3f3;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.8em;
  background-clip: padding-box;
}

input {
  flex: 1;
  outline: none;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  padding: 4px 10px;
  width: 100%;
  transition: all 0.1s linear;

  &:focus {
    border-color: #417997;
  }
}

textarea {
  outline: none;
  border: 1px solid #dbdbdb;
  width: 100%;
  resize: none;
  height: 100%;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
  transition: all 0.1s linear;

  &:focus {
    border-color: #417997;
  }
}

button {
  outline: none;
  background: #333;
  color: #fff;
  padding: 2px 15px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s linear;

  &:hover {
    opacity: 0.9;
  }
}

body {
  width: 500px;
  height: 600px;
}

.body {
  min-height: 600px;
  background: #f3f3f3;
}

.tags {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  margin-bottom: 0 !important;
  padding: 10px;
  background: #f3f3f3;
  z-index: 9;

  li {
    margin-right: 10px;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    user-select: none;

    &.active {
      background: #333;
      color: #fff;
    }
  }
}

.tabcontent {
  padding: 0 10px 10px;
}

.list {
  .item {
    position: relative;
    margin-bottom: 10px;
    max-width: 100%;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    word-break: break-all;

    &:hover {
      .deleteNote {
        display: block;
      }
    }

    .date {
      font-size: 14px;
      color: #999;
    }

    .deleteNote {
      position: absolute;
      right: 10px;
      bottom: 4px;
      cursor: pointer;
      user-select: none;
      display: none;
    }
  }
}

.setting {
  font-size: 15px;

  .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    span {
      width: 75px;
      text-align: justify;
    }
  }

  .save {
    border-radius: 4px;
    width: 100px;
  }
}

.textarea-wrap {
  position: relative;
  margin-bottom: 10px;
  height: 100px;
  width: 100%;

  &.isActive {
    height: 150px;
    position: sticky;
    top: 46px;
    z-index: 9;
  }

  textarea {
    padding-bottom: 30px;
  }

  .btn {
    position: absolute;
    bottom: 5px;
    right: 10px;

    button {
      border-radius: 4px;
      min-width: 80px;
    }
  }
}

.about {
  margin-top: 20px;
  font-size: 14px;

  p {
    margin-bottom: 10px;
  }
}

.vue-simple-markdown {
  font-size: 15px !important;
}

.content-inputs {
  flex: 1;
}

.tags a {
  margin-left: 10px;
  display: inline-block;
}

.tags a:hover {
  color: #0078d7;
  text-decoration: line-through;
}
