.body {
  height: 200px;
  padding: 20px;

  h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  a {
    color: #fff;
    background: #333;
    padding: 6px 30px;
    border-radius: 4px;
    transition: all 0.1s linear;

    &:hover {
      opacity: 0.9;
    }
  }
}